<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="com.orm.SugarApp"
    package="com.example.casa.lifecare">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="DATABASE"
            android:value="lifecare1.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.casa.lifecare" />

        <activity
            android:name=".Tela_login"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity
            android:name=".Formulario_segundo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Formulario_Primeiro"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TesteRecadosGrupo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CadastroRemedio"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TimeLineFront"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Teste1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".teste"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CadastroUsuario"
            android:theme="@style/AppTheme" />

        <service
            android:name=".Servicos.TesteService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".testeAsinck"></activity>
    </application>

</manifest>